jupyterlab
sumeval
janome
protobuf==4.25.1
entmax==1.1
fastdist==1.1.6
dynamic_embedding_pruning==0.0.1
rouge-score==0.1.2
numba==0.58.1
tensorboardX==2.6.2.2
pyarabic==0.6.15
rouge==1.0.1
peft==0.6.2
datasets==2.15.0
evaluate==0.4.1
bitsandbytes==0.41.2.post2
scipy==1.11.4
scikit-learn==1.3.2
sentencepiece
seaborn==0.13.0